footer {
    color: #9b9b9b;
    background: #212529;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-right: 10px;
    position: relative;
    z-index: 2;
}

footer section {
    font-size: 0.98rem;
    width: 950px;
}
#footer-left {
    float: left;
    max-width: 532px;
    margin-left: 5px;
}

#footer-logo-v2 {
    width: auto;
    height: 22px;
}


#footer-logo-v2 {
    width: auto;
    height: 22px;
}