

section.jobs article {
    clear: both;
    margin-bottom: 50px;
}


section, nav {
    width: 950px;
    margin: 0 auto;
    font-size: 1.2rem;
}

body {
    font-family: "Neufile Grotesk Regular", sans-serif;
    font-size: 62.5%;
}

section.jobs article h2 {
    color: #212529;
    text-align: left;
    letter-spacing: normal;
    padding-left: 10px;
    font-size: 1.5rem;
}

section.jobs article ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.jobs article ul li {
    font-size: 1.2rem;
    padding: 18px 10px 18px 10px;
    border: 1px solid rgba(144,146,148,0.2);
    position: relative;
    margin-bottom: 8px;
}


ection.jobs article ul li span.new {
    float: right;
    position: absolute;
    left: 842px;
    top: 14px;
    background-color: #ffd500;
    font-weight: bold;
    color: #4d5154;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-right: 0px;
    padding: 6px 8px 3px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: "Neufile Grotesk Semi Bold", sans-serif;
    margin-top: 32px;
}


.highlight-bar {
    border-left: 4px solid #ffd500;
    height: 106px;
    float: right;
    position: absolute;
    left: 937px;
    top: 8px;
    border-radius: 4px;
}


section.jobs article ul li span.company {
    color: #212529;
    font-family: "Neufile Grotesk Regular", sans-serif;
    text-decoration: none;
    max-width: calc(100% - 375px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 42px;
    font-size: 1rem;
}


section.jobs article ul li span.region.company {
    margin-left: 0px;
}


section.jobs article ul li a {
    text-decoration: none;
    display: block;
}
.jobs article a {
    text-decoration: none !important;
    border-bottom-style: none !important;
}


section.jobs article ul li span.title {
    color: #212529;
    font-family: "Neufile Grotesk Semi Bold", sans-serif;
    margin-right: 10px;
    text-decoration: none;
    max-width: calc(100% - 375px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 42px;
}



section.jobs article ul li span.featured, section.jobs article ul li span.expired {
    float: right;
    color: #212529;
    text-transform: capitalize;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 183px;
    font-family: "Neufile Grotesk Semi Bold", sans-serif;
    font-size: 1rem;
}


section.jobs article ul li.feature {
    background-color: rgba(255,213,0,0.2);
    border: none;
}

section.jobs article ul li {
    font-size: 1.2rem;
    padding: 18px 10px 18px 10px;
    border: 1px solid rgba(144,146,148,0.2);
    position: relative;
    margin-bottom: 8px;
}
