@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');



.jumbotron {
    margin-bottom: 4em;
    background-color: ghostwhite;
}
.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width: 50%;
    size: 50px;
}

.btn-primary {
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: #2821b5;
}

li {
    list-style-type: none;
}
.offercompanycss{
    color: #212529;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    max-width: calc(100% - 375px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}


.offerpost{
    color: #212529;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
    right: 15%;
    text-decoration: none;
    max-width: calc(100% - 375px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 65px;
    position: relative;
    top: 7%;

}

ul {
    border-right: 4px solid #ffd500;
}

.designoffer {
    background-color: rgba(255,213,0,0.2);
    border-right: 4px solid #ffd500;
}
h3 {
    margin-bottom: 1em;
}

#listoffer {
    size: 200px;
}
.text-center {
    text-align: center;
    background-color: #2892D7;
    margin: auto;

}

.email {
    background-color: #2892D7;
    margin: auto;
}


.titre {
    text-align: center;
    color: #2892D7;
}



.description {
    text-align: center;
}


.containerwescrapjob {
    text-align: center;
}

.containercontact {
    text-align: center;
}


.titrescrap {
    text-align: center;
}

.titrescrap {
    color: ghostwhite;
}
.welcome {
    margin-top: 20px;
}

.poleEmploi {

    margin-top: 43px;
}

.linkedin {
    margin-top: 78px;
    color: ghostwhite;
}

.indeed {
    color: ghostwhite;
}
.table table-striped table-bordered {
    font-family: 'Roboto', sans-serif;
    font-size: 32.5%;
}

.row {
    display: block;
/*    padding-left: 35%;
    width: 120%;

 */
}
.dimmensionoffer {
    top: 20px;
    position: relative;
    border: none;
}

#designofferId {
    width: 150%;
    border-right: 4px solid #ffd500;
    max-height: 140px;
    left: 50%;
    position: relative;
}


.card {
    max-width: 75%;
    border: none;
    border-width: unset;
    display: block;
}


.offerdate{
    left: 70%;
    position: relative;
    bottom: 48px;
    font-family: 'Lato', sans-serif;
}

#btnId {
    position: relative;
    left: 80%;
    bottom: 6.7em;
    background-color: #2821b5;
    color: #FFFF;
    text-overline-color: white;
    border: 2px solid black;
}

#linkUrl {
    color: #FFFF;
}

#btnId:hover {
    background-color: #ffd500; /* Green */
    text-overline-color: black;
    color: #F7F7F7;
}

#btnView {
    margin-left: 10px;
    bottom: 3.7em;
    position: relative;
    background-color: #ffd500;
    border: 2px solid black;

}

#btnView:hover {
    background-color: #2821b5;
    text-overline-color: black;
    color: #F7F7F7;
}

#btnOfferFavorite {
    /*left: 290px;*/
    bottom: 3.7em;
    position: relative;
    background-color: #ffd500;
    border: 2px solid black;
}

#btnOfferFavorite:hover {
    background-color: #2821b5;
    text-overline-color: black;
    color: #F7F7F7;
}


table {
    caption-side: bottom;
    border-collapse: unset;
}

/*@media screen all and (max-width: 1280px) {
    !* Rédigez vos propriétés CSS ici *!

    .designoffer {
        background-color: rgba(255,213,0,0.2);
        border-right: 4px solid #ffd500;
        max-width: 50%;
    }


    #designofferId {
        width: 150%;
        border-right: 4px solid #ffd500;
        max-height: 140px;
        left: 0%;
        position: relative;
    }


    section {
        max-width: 100%;
        width: 100px;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}*/


section {
    width: 950px;
    margin: 0 auto;
    font-size: 1.2rem;
}

#addButton {
    width: 40px;
    height: 36px;
    border: 1px solid #2821b5;
    background: #2821b5;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


#cancelSearch {
    width: 40px;
    height: 36px;
    border: 1px solid  #e74c3c;
    background:  #e74c3c;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#searchInput  {
  border: 3px solid #00B4CC;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  }

#customBar {
    width: 100%;
    position: relative;
    display: flex;
}

#buttonList {

}
/*#wrap {*/
/*    width: 30%;*/
/*    position: absolute;*/
/*    top: 8%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/


@media  all and (max-device-width: 1280px)
{


    .offercompanycss{
        color: #212529;
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        max-width: calc(130% - 50px);
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        margin-left: 10px;
        position: relative;
        bottom: 0em;
    }


    .offerpost{
        color: #212529;
        font-size: 130%;
        font-family: 'Lato', sans-serif;
        right: 55%;
        text-decoration: none;
        max-width: calc(150% - 50px);
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        margin-top: 32px;
        margin-bottom: 8px;
        margin-left: 65px;
        position: relative;
        bottom: 1.4em;

    }


    .card {
        position: relative;
        display: block;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }


    .designoffer {
        background-color: rgba(255,213,0,0.2);
        border-right: 4px solid #ffd500;
        max-width: 68%;
    }


    #designofferId {
        width: 150%;
        border-right: 4px solid #ffd500;
        max-height: 145px;
        left: 0%;
        position: relative;
    }

    .dimmensionoffer {
        display: block;
    }


    section {
        max-width: 100%;
        margin: 0 auto;
        font-size: 1.2rem;
        width: 400%;
    }


    #btnOfferFavorite {
        /*left: 290px;*/
        bottom: 3.7em;
        position: relative;
        background-color: #ffd500;
        border: 2px solid black;
    }

    #btnOfferFavorite:hover {
        background-color: #2821b5;
        text-overline-color: black;
        color: #F7F7F7;
    }



    #btnView {
        margin-left: 10px;
        bottom: 4.4em;
        position: relative;
        background-color: #ffd500;
        border: 2px solid black;

    }

    #btnView:hover {
        background-color: #2821b5;
        text-overline-color: black;
        color: #F7F7F7;
    }


    .offerdate{
        left: 0%;
        position: relative;
        top: 0.0em;
        font-family: 'Lato', sans-serif;
    }


    #btnView {
        margin-left: 10px;
        bottom: 3.7em;
        position: relative;
        background-color: #ffd500;
        border: 2px solid black;
        visibility: hidden;

    }

    #btnView:hover {
        background-color: #2821b5;
        text-overline-color: black;
        color: #F7F7F7;
        visibility: hidden;
    }


    #btnId {
        position: relative;
        left: 10%;
        bottom: 4em;
        background-color: #2821b5;
        color: #FFFF;
        text-overline-color: white;
        border: 2px solid black;
    }


    #btnId:hover {
        background-color: #ffd500; /* Green */
        text-overline-color: black;
        color: #F7F7F7;
    }

    #btnOfferFavorite {
        /*left: 290px;*/
        bottom: 3.7em;
        position: relative;
        background-color: #ffd500;
        border: 2px solid black;
        visibility: hidden;
    }

    #btnOfferFavorite:hover {
        background-color: #2821b5;
        text-overline-color: black;
        color: #F7F7F7;
        visibility: hidden;
    }
    /* Vos règles CSS pour les mobiles ici */
}




